In [1]:
import pandas as pd
from support.df_init import init

df = init()
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,regions_SA,regions_UNK,countryOfOrigin_freq_enc,countryOfOrigin_NA,countryOfOrigin_AF,countryOfOrigin_AS,countryOfOrigin_EU,countryOfOrigin_OC,countryOfOrigin_SA,countryOfOrigin_UNK
0,Carmencita,"(5, 6]",1894.0,1894.0,1.0,0.0,2089.0,1.0,10.0,2.0,...,0,0,0.399732,1,0,0,0,0,0,0
1,Un bon bock,"(5, 6]",1892.0,1892.0,12.0,0.0,183.0,1.0,10.0,2.0,...,0,0,0.046115,0,0,0,1,0,0,0
2,Chinese Opium Den,"(4, 5]",1894.0,1894.0,1.0,0.0,195.0,1.0,10.0,1.0,...,0,0,0.399732,1,0,0,0,0,0,0
3,Edison Kinetoscopic Record of a Sneeze,"(5, 6]",1894.0,1894.0,1.0,1.0,2237.0,1.0,10.0,3.0,...,0,0,0.399732,1,0,0,0,0,0,0
4,L'arrivée d'un train à La Ciotat,"(7, 8]",1896.0,1896.0,1.0,0.0,13115.0,1.0,10.0,12.0,...,1,2,0.046115,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149526,Nuestra película,"(6, 7]",1993.0,1993.0,96.0,0.0,11.0,1.0,10.0,0.0,...,1,0,0.001417,0,0,0,0,0,1,0
149527,Eco,"(6, 7]",2019.0,2019.0,14.0,0.0,15.0,1.0,10.0,4.0,...,0,0,0.017834,0,0,0,1,0,0,0
149528,Women Take Center Stage,"(5, 6]",2019.0,2019.0,NaN,0.0,12.0,1.0,10.0,2.0,...,0,0,0.000000,0,0,0,0,0,0,0
149529,Horrid Henry and the Christening Crisis,"(7, 8]",2011.0,2011.0,10.0,0.0,9.0,1.0,10.0,1.0,...,0,0,0.000000,0,0,0,0,0,0,0
149530,A lenda do soprador de vidro,"(8, 9]",2019.0,2019.0,NaN,0.0,9.0,1.0,10.0,3.0,...,0,0,0.000000,0,0,0,0,0,0,0

In [ ]:
df

In [7]:
# Sum all regions_<continent> columns
regions_sum = df[['regions_EU', 'regions_NA', 'regions_AS', 'regions_AF', 'regions_OC', 'regions_SA', 'regions_UNK']].sum(axis=1)

# Check if
# is_valid = (regions_sum == len(df['regions']))
# print(is_valid.all())  # This will print True if all rows satisfy the condition
df.loc[regions_sum != df['regions'].apply(len),
    ['regions_EU', 'regions_NA', 'regions_AS', 'regions_AF', 'regions_OC', 'regions_SA', 'regions_UNK', 'regions']]

Empty DataFrame
Columns: [regions_EU, regions_NA, regions_AS, regions_AF, regions_OC, regions_SA, regions_UNK, regions]
Index: []

In [9]:
# Sum all countryOfOrigin_<continent> columns
countryOfOrigin_sum = df[['countryOfOrigin_EU', 'countryOfOrigin_NA', 'countryOfOrigin_AS', 'countryOfOrigin_AF', 'countryOfOrigin_OC', 'countryOfOrigin_SA', 'countryOfOrigin_UNK']].sum(axis=1)

# Check if
# is_valid = (countryOfOrigin_sum == len(df['countryOfOrigin']))
# print(is_valid.all())  # This will print True if all rows satisfy the condition
df.loc[countryOfOrigin_sum != df['countryOfOrigin'].apply(len),
    ['countryOfOrigin_EU', 'countryOfOrigin_NA', 'countryOfOrigin_AS', 'countryOfOrigin_AF', 'countryOfOrigin_OC', 'countryOfOrigin_SA', 'countryOfOrigin_UNK', 'countryOfOrigin']]

Empty DataFrame
Columns: [countryOfOrigin_EU, countryOfOrigin_NA, countryOfOrigin_AS, countryOfOrigin_AF, countryOfOrigin_OC, countryOfOrigin_SA, countryOfOrigin_UNK, countryOfOrigin]
Index: []

In [10]:
# Extract all unique genres from the 'genres' column
unique_genres = set(genre for genres_list in df['genres'] for genre in genres_list)
unique_genres

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [11]:
len(unique_genres)

28

In [12]:
df.loc[df['genres'].apply(len)<=1, 'genres']

2               [Short]
11              [Short]
15              [Short]
16              [Short]
21              [Short]
              ...
149515     [Reality-TV]
149524    [Documentary]
149526    [Documentary]
149528     [Reality-TV]
149530         [Comedy]
Name: genres, Length: 53948, dtype: object

In [13]:
df.loc[df['genres'].apply(len)==0, 'genres']

156       []
177       []
188       []
206       []
209       []
          ..
148626    []
149082    []
149185    []
149287    []
149405    []
Name: genres, Length: 2691, dtype: object

In [14]:
df.loc[df['genres'].apply(len)>2, 'genres']

7           [Comedy, Documentary, Short]
9            [Documentary, Short, Sport]
29              [Fantasy, Horror, Short]
40              [Fantasy, Horror, Short]
41             [Comedy, Fantasy, Horror]
                       ...
149521        [Animation, Comedy, Drama]
149522    [Action, Adventure, Animation]
149523      [Animation, Comedy, Fantasy]
149525       [Animation, Comedy, Family]
149529    [Adventure, Animation, Comedy]
Name: genres, Length: 52011, dtype: object

In [21]:
df.loc[df['genres'].apply(len)==2, 'genres']

0          [Documentary, Short]
1            [Animation, Short]
3          [Documentary, Short]
4          [Documentary, Short]
5            [Animation, Short]
                  ...
149489    [Comedy, Documentary]
149491         [Comedy, Horror]
149493         [Comedy, Horror]
149502            [News, Short]
149527           [Drama, Short]
Name: genres, Length: 43572, dtype: object

In [22]:
df.loc[df['genres'].apply(len)==3, 'genres']

7           [Comedy, Documentary, Short]
9            [Documentary, Short, Sport]
29              [Fantasy, Horror, Short]
40              [Fantasy, Horror, Short]
41             [Comedy, Fantasy, Horror]
                       ...
149521        [Animation, Comedy, Drama]
149522    [Action, Adventure, Animation]
149523      [Animation, Comedy, Fantasy]
149525       [Animation, Comedy, Family]
149529    [Adventure, Animation, Comedy]
Name: genres, Length: 52011, dtype: object

In [23]:
df.loc[df['genres'].apply(len)==1, 'genres']

2               [Short]
11              [Short]
15              [Short]
16              [Short]
21              [Short]
              ...
149515     [Reality-TV]
149524    [Documentary]
149526    [Documentary]
149528     [Reality-TV]
149530         [Comedy]
Name: genres, Length: 51257, dtype: object