In [24]:
from support.df_init import init

df = init()

In [25]:
df['averageRating']

0         5.7
1         5.4
2         5.0
3         5.4
4         7.4
         ...
149526    7.0
149527    6.4
149528    5.6
149529    7.1
149530    8.6
Name: averageRating, Length: 149531, dtype: float64

In [27]:
df['awful_rating'] = ((df['averageRating'] >= 0) & (df['averageRating'] <= 4)).astype(int)
# df['low_rating'] = ((df['averageRating'] > 4) & (df['averageRating'] <= 5)).astype(int)
df['medium_rating'] = ((df['averageRating'] > 4) & (df['averageRating'] <= 8)).astype(int)
df['high_rating'] = ((df['averageRating'] > 8) & (df['averageRating'] <= 10)).astype(int)

df[['awful_rating', 'medium_rating', 'high_rating']]

        awful_rating  medium_rating  high_rating
0                  0              1            0
1                  0              1            0
2                  0              1            0
3                  0              1            0
4                  0              1            0
...              ...            ...          ...
149526             0              1            0
149527             0              1            0
149528             0              1            0
149529             0              1            0
149530             0              0            1

[149531 rows x 3 columns]

In [28]:
rating_features = ['awful_rating', 'medium_rating', 'high_rating', ]
percentages = (df[rating_features].sum() / len(df)) * 100
print(percentages)

awful_rating      3.468846
medium_rating    78.911396
high_rating      17.619758
dtype: float64

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit

# Splitting the dataset into training and testing sets while maintaining the same ratio of rating features

split = StratifiedShuffleSplit(n_splits=1, test_size=0.3, random_state=42)
for train_index, test_index in split.split(df, df[rating_features]):
    train_set = df.loc[train_index]
    test_set = df.loc[test_index]
train_set, test_set = train_test_split(df, test_size=0.3, random_state=42)
train_set.to_csv("dm2_dataset_2425_imdb/imbalanced_train_70.csv", index=False)
test_set.to_csv("dm2_dataset_2425_imdb/imbalanced_test_30.csv", index=False)

In [31]:
train_set

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,countryOfOrigin_AF,countryOfOrigin_AS,countryOfOrigin_EU,countryOfOrigin_OC,countryOfOrigin_SA,countryOfOrigin_UNK,reviewsTotal,awful_rating,medium_rating,high_rating
35104,Wild Force,"(4, 5]",1986,1986.0,84.0,0,21,1,10,4,...,0,1,0,0,0,0,4,0,1,0
90639,Ture Sventon och jakten på ungdomens källa,"(7, 8]",2021,NaN,30.0,0,66,1,10,11,...,0,0,1,0,0,0,0,0,1,0
9488,Kaala Sona,"(6, 7]",1975,1975.0,91.0,0,93,1,10,14,...,0,1,0,0,0,0,4,0,1,0
36627,Deu Veado na Cabeça,"(3, 4]",1982,1982.0,90.0,0,34,1,10,1,...,0,0,0,0,1,0,0,1,0,0
133214,10 Homes That Changed America,"(7, 8]",2016,2016.0,87.0,0,41,1,10,3,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119879,September Fools,"(8, 9]",2013,2013.0,30.0,0,114,1,10,3,...,0,0,0,0,0,0,1,0,0,1
103694,Hiphop Hamlet,"(7, 8]",2010,NaN,30.0,0,6,1,10,1,...,0,0,1,0,0,0,0,0,1,0
131932,Episode #1.12,"(7, 8]",2013,2013.0,30.0,0,32,1,10,2,...,0,1,0,0,0,0,0,0,1,0
146867,2019 Golden Globe Awards,"(5, 6]",2019,2019.0,92.0,1,487,1,10,623,...,0,0,0,0,0,0,10,0,1,0
121958,Brain Hacker,"(7, 8]",2014,2014.0,30.0,0,9,1,10,1,...,0,0,1,0,0,0,0,0,1,0

In [30]:
# TODO: add outlier detection+handling

from support.imputation import impute_data

train_imputed, test_imputed = impute_data(train=train_set, test=test_set)
train_set['runtimeMinutes'] = train_imputed
test_set['runtimeMinutes'] = test_imputed